* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header { 
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #000000; 
  width: 100%;
  height: 100px; 

  text-align: center; 
   text-align: center;  
   font:
    bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script',
    fantasy; 
    letter-spacing: 3px;
  color: white;
}

.body {
  display: flex;  
  
}

.nav {   
  background-color: white;
  min-height: 400px;
  width: 30%;
  color: #282c34; 
  /* font-size: 20px;  */
} 

.isActive {
  text-decoration: none; 
  /** color: #282c34; **/ 
  color: yellow;
}  

.navLink {
  color: #7fb8f1;  
  text-decoration: underline;
}


.content { 
   display: flex; 
   justify-content: center; 
   align-items: center;  
   
   background-color: #282c34; 
   /* min-height: 400px; */
   width: 70%;
  color: white; 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   
}

.footer { 
   padding: 20px;
   background-color: #000000;
   height: 100px;  
   text-align: center;  
   font:  bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', fantasy; 
   letter-spacing: 3px;
   color: white; 
   text-align: center;  
}  



